.post {
    display: flex;
    flex-direction: column;
    background-color: #cfcfee;
    margin: 20px 0;
    padding: 15px;
}

.post img {
    width: 80px;
    height: 70px;
    border-radius: 30%;
    margin-right: 10px;
}

.post p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}