.navbar {
    background-color: #ececea;
    padding: 30px;
    grid-area: navbar;
    font-size: 24px;
}

.item a {
    color: #2e2e3d;
    text-decoration: none;
}

.item.active a {
    color: #424992;
    text-decoration: underline;
}